*{
  border: 1px red solid;
}
img{
  cursor: pointer;
  width: 40em;
  position: relative;
  top: 28%;
  left: 26%;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.pokemon{
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

}

input{
  padding: 13px 12px;
  margin: 15px 5px;
  font-size: smaller;
  text-align: center;
}
input[type='text']{
  height: 9px;
  width: 121px;
}

.form{
  position: relative;
  top: 28%;
  left: 26%;
  width: 21em;
  height: 5em;

}
.textbox {
  background-position: center;
  background-image: url('https://static.turbosquid.com/Preview/2014/05/25__19_38_41/POKEBALL_LASTRENDER_thumb.jpgaee5aa9b-36fa-4679-a03f-0297d4c6b9a6DefaultHQ.jpg');
  background-size: 40em;
  background-repeat: no-repeat;
  background-color: white;
  height: 600px;
  width: 607px;
  border-radius: 2px;
  margin: 10px 370px;
}

.choosen{
  position: relative;
  background-position: center;
  left: 26%;
  background-image: url('https://static.turbosquid.com/Preview/2014/05/25__19_38_41/POKEBALL_LASTRENDER_thumb.jpgaee5aa9b-36fa-4679-a03f-0297d4c6b9a6DefaultHQ.jpg');
  background-size: 40em;
  background-repeat: no-repeat;
  background-color: white;
  height: 600px;
  width: 600px;
  border-radius: 2px;
}

button{
  height: 9px;
  width: 121px;
  position: relative;
  top: 28%;
  left: 26%;
  width: 21em;
  height: 5em;
}
