*{
  outline: none;
  font-family: 'Caveat Brush', sans-serif;
}

header{
  font-family: 'Caveat Brush', sans-serif;
  font-size: 2.5em;
  text-align: center;
}
img{
  width: 17em;
  left: 38%;
  margin: 0 0 0 0;
}
body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.pokemon{
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

}

input{
  padding: 13px 12px;
  margin: 15px 5px;
  font-size: smaller;
  text-align: center;
}

input[type='text']{
  height: 2em;
  width: 10em;
  background-color: rgba(0,0,0,0);
  border: black solid .5px;
  font-size: x-large;
}

input[type='submit']{
  width: 9em;
  height: 4em;
  border-radius: 45%;
  background: #343434;
  color: red;
  font-size: larger;
  border: none;
  cursor: pointer;
}

.form{
  position: relative;
  top: 26%;
  left: 6%;
  width: 39em;
  height: 10em;
  border: none;
}

.textbox {
  background-position: center;
  background-image: url('https://static.turbosquid.com/Preview/2014/05/25__19_38_41/POKEBALL_LASTRENDER_thumb.jpgaee5aa9b-36fa-4679-a03f-0297d4c6b9a6DefaultHQ.jpg');
  background-size: 38em;
  background-repeat: no-repeat;
  height: 31em;
  width: 32em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10.5%;
  border-radius: 100%;
}


.choosen{
  position: relative;
  background-position: center;
  background-image: url('https://static.turbosquid.com/Preview/2014/05/25__19_38_41/POKEBALL_LASTRENDER_thumb.jpgaee5aa9b-36fa-4679-a03f-0297d4c6b9a6DefaultHQ.jpg');
  background-size: 38em;
  background-repeat: no-repeat;
  height: 31em;
  width: 32em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.image{
    margin: -4em 1em 1em 1em;
    position: absolute;
    left: 57%;
    top: 44em;
}

button{
  border: none;
  background-color: rgba(228,0,0,0);
  position: relative;
  top: 2%;
  right: 6%;
  cursor: pointer;
  width: 9em;
  font-size: 4em;
  height: 5em;
  font-family: 'Caveat Brush', sans-serif;

}

.box1{
  font-size: 1.5em;
  margin: 0 38em;
  width: 12em;
  height: 3em;
}

.box2{
  font-size: 1.5em;
  margin: 6px;
  width: 12em;

}
.box3{
  font-size: 1.5em;
  margin: 56px;
  width: 20em;
  left: 29%;

}

.pokieName{
  font-size: 3em;
  text-align: center;
}

@media (max-width: 1000px) {

  img{
    width: 17em;
    left: 38%;
    margin: 0 0 0 0;
  }
  body {
    background-size: 250em;

  }

  .textbox {
      margin: 622px 233px;
  }

  .choosen{
    margin: 549px 225px 105px
  }

  .image{
    left: 62%;
    top: 94em;
  }

}
